@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.delete  {
    float: right;
}

.text-box {
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    background-color:gainsboro;
    padding: 20px;
    margin-top: 20px;
    margin-bottom:25px;
    margin-left: 35px;
    margin-right: 35px;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    margin: auto;
    word-wrap: break-word;
    width: 80%;
}

body {
    padding-bottom: 50px;
}

form {
    position: relative;
}
  
#submit {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
}