{% extends "layout.html" %}
{% block title %}
Flack
{% endblock %}
{% block head %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

{% if new_channel|length > 0 %}
<script>
    if(confirm("New channel created! Do you want to visit {{new_channel}}?"))
    {
        window.location.href = "{{url_for('channel', title=new_channel)}}";
    }
</script>
{% endif %}
{% endblock %}
{% block body %}

<h5 style="margin-bottom: 30px; text-align: center;">CHANNELS</h5>
{% for channel in channels %}
    <div class="channel"><a href="{{ url_for('channel', title=channel['title']) }}">{{channel['title']}}</a></div>
    <br>
{% endfor %}

{% if 'user' in session %}
<form action="{{ url_for('index') }}" method="post" id="create-form">

    <div class="form-group">
        <input  style="width: 90%;" class="form-control" name="title" placeholder="Channel title (avoid using space)" id="text" type="text">
    </div>
    
    <div class="form-group"></div>
        <button class="btn btn-primary" style="margin-left: 40px"  id="submit">Submit</button>
    </div>

</form>
<p>{{error}}</p>
{% endif %}
{% endblock %}
